---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import settings
@import
  "reset",
  "fonts",
  "vars",
  "helpers",
  "base",
  "grid",
  "icons",
  "mixins",
  "buttons",
  "syntax-highlighting";

// Import layouts
@import
  "layouts/l-header",
  "layouts/l-sidenav",
  "layouts/l-content",
  "layouts/post",
  "layouts/l-footer",
  "layouts/color-gallery";

// Import modules
@import
  "modules/m-post-bar",
  "modules/m-post";

// Import components
@import
  "components/c-pagination",
  "components/c-image",
  "components/c-curtain",
  "components/c-thumbnail",
  "components/c-code-snippet";


