<aside class="l-sidenav">
  <nav>
    <ul class="first-level">
      <li>
        <h2>Brand Guidelines</h2>
        <ul class="second-level">
          <li><h3 data-location="about-innovation-lab"><a href="{{site.baseurl}}/brand-guidelines/about-innovation-lab.html">About Innovation Lab</a></h3></li>
          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/brand-architecture.html" >Brand architecture</a></h3></li>
          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/color-palettes.html">Color palettes</a></h3></li>

          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/color-versions.html">Color versions</a></h3></li>

          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/typography-families.html">Typography families</a></h3></li>
          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/typography-usage.html">Typography usage</a></h3></li>

          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/download-resources.html">Download resources</a></h3></li>
        </ul>
      </li>
      <li>
        <h2>Website</h2>
        <ul class="second-level">
          <li><h3 ><a href="{{site.baseurl}}/website/structural-elements.html">Structural elements</a></h3>
            <ul class="third-level">
              <li><a href="{{site.baseurl}}/website/structural-elements/navigation-bar.html">Navigation bar</a></li>
              <li><a href="{{site.baseurl}}/website/structural-elements/filters-bar.html">Filters bar</a></li>
              <li><a href="{{site.baseurl}}/website/structural-elements/map.html">Map</a></li>
              <li><a href="{{site.baseurl}}/website/structural-elements/related-content.html">Related content</a></li>
              <li><a href="{{site.baseurl}}/website/structural-elements/footer.html">Footer</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <ul class="second-level">
          <li><h3><a href="{{site.baseurl}}/website/common-elements.html">Common elements</a></h3>
            <ul class="third-level">
              <li><a href="{{site.baseurl}}/website/common-elements/cards.html">Cards</a></li>
              <li><a href="{{site.baseurl}}/website/common-elements/links-and-buttons.html">Links and buttons</a></li>
            </ul>
          <li><h3><a href="{{site.baseurl}}/website/responsive-content-behavoir.html">Responsive content behavoir</a></h3>
          <li><h3><a href="{{site.baseurl}}/website/email-template.html">E-mail template</a></h3>
          </li>
        </ul>
      </li>
      <li>
        <h2>Communication material</h2>
        <ul class="second-level">
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/communication-material/publications.html">Publications</a></h3>
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/communication-material/brochures.html">Brochures</a></h3>
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/communication-material/presentations.html">Presentations</a></h3>
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/communication-material/posters.html">Posters</a></h3>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <footer class="l-footer">
    <p>An initiative of <a href=""></a></p>
    <a class="btn -red" href="">go to opendri website</a>
  </footer>
</aside>
