<aside class="l-sidenav">
  <nav>
    <ul class="first-level">
      <li>
        <h2>Brand Guidelines</h2>
        <ul class="second-level">
          <li><h3 data-location="logo"><a href="{{site.baseurl}}/brand-guidelines/logo.html">About Innovation Lab</a></h3></li>
          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/colors.html" >Brand architecture</a></h3></li>
          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/type.html">Color palettes</a></h3></li>

          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/type.html">Color versions</a></h3></li>

          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/type.html">Typography families</a></h3></li>
          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/type.html">Typography usage</a></h3></li>

          <li><h3 ><a href="{{site.baseurl}}/brand-guidelines/type.html">Download resources</a></h3></li>
        </ul>
      </li>
      <li>
        <h2>Website</h2>
        <ul class="second-level">
          <li><h3 ><a href="{{site.baseurl}}/page-elements/grid.html">Structural elements</a></h3>
            <ul class="third-level">
              <li><a href="{{site.baseurl}}/page-elements/structural-elements/toolbar.html">Navigation bar</a></li>
              <li><a href="{{site.baseurl}}/page-elements/structural-elements/navigation-bar.html">Filters bar</a></li>
              <li><a href="{{site.baseurl}}/page-elements/structural-elements/header.html">Map</a></li>
              <li><a href="{{site.baseurl}}/page-elements/structural-elements/content.html">Related content</a></li>
              <li><a href="{{site.baseurl}}/page-elements/structural-elements/related-content.html">Footer</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <ul class="second-level">
          <li><h3><a href="{{site.baseurl}}/page-elements/grid.html">Common elements</a></h3>
            <ul class="third-level">
              <li><a href="{{site.baseurl}}/page-elements/structural-elements/toolbar.html">Cards</a></li>
              <li><a href="{{site.baseurl}}/page-elements/structural-elements/navigation-bar.html">Links and buttons</a></li>
            </ul>
          <li><h3><a href="{{site.baseurl}}/page-elements/grid.html">Responsive content behavoir</a></h3>
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/page-elements/grid.html">E-mail template</a></h3>
          </li>
        </ul>
      </li>
      <li>
        <h2>Communication material</h2>
        <ul class="second-level">
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/page-elements/grid.html">Publications</a></h3>
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/page-elements/grid.html">Brochures</a></h3>
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/page-elements/grid.html">Presentations</a></h3>
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/page-elements/grid.html">Posters</a></h3>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <footer class="l-footer">
    <p>An initiative of <a href=""></a></p>
    <a class="btn -red" href="">go to opendri website</a>
  </footer>
</aside>
