.btn {
  -webkit-font-smoothing: antialiased;
  display: block;
  padding: 15px;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: $font-family-2;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  transition: background 0.15s linear;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  &:focus {
    outline: 0;
  }

  &.btn--preview {
    color: #555;
    border: 1px solid #97BD3D;
    &:hover {
      background: #f2f2f2;
    }
  }

  &.btn--download {
    color: #fff;
    background: #97BD3D;
    &:hover {
      background: #789631;
    }
  }
  &.btn--disabled {
    cursor: default;
    pointer-events: none;
    opacity: .25;
    &:hover {
      background: #97BD3D;
    }
  }

  &.-red {
    background: $red;
    color: $font-color-3;
    &:hover {
      background: lighten($red, 10);
    }

  }
}
