.wrap {
  @extend %clearfix;
  position: relative;
  display: flex;
  width: 100%;
  min-width: 960px;
  // max-width: 1200px;
  background-color: $color-3;
}

.inner {
  @extend %clearfix;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
}
