.m-post-bar{

  .post-bar-container {
    display: flex;
    justify-content: space-between;

    > h3 {
      color: rgba($font-color-1, .3);
      text-transform: uppercase;
    }

    &.-index, &.-bottom {
      justify-content: flex-end;
    }
    &.-single-item {
      width: auto;
      justify-content: flex-end;
    }
  }
}
