.m-post {
  max-width: 810px;
  .inner {
    padding: 0 20px;
  }

  > .post-wrapper {
    margin: 15px 0 30px 0;
    padding: 45px 45px 45px 65px;
    background-color: $color-2;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  }

  > .post-wrapper > header {
    margin-bottom: 20px;
    > h2 {
      font-size: 48px;
      font-weight: 400;
      text-transform: none;
      color: $font-color-1;
    }
  }

  > .post-wrapper > .post-content {

    h3 {
      margin: 20px 0;
      font-size: $base-font-size;
      font-weight: 700;
      text-transform: uppercase;
      color: $font-color-1;
      > span {
        text-transform: none;
      }
    }

    h4 {
      font-size: $base-font-size;
      color: $font-color-1;
      text-transform: uppercase;
    }

    p {
      margin: 10px 0;
      font-size: $base-font-size;
      line-height: 23px;
      letter-spacing: .3px;

      &:first-of-type {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: .2px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $font-color-2;
    }
  }
}
