.m-post {
  max-width: 810px;
  .inner {
    padding: 0 20px;
  }

  > .post-wrapper {
    margin: 15px 0;
    padding: 45px 45px 45px 65px;
    background-color: $color-2;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  }

  > .post-wrapper > header {
    margin-bottom: 20px;
    > h2 {
      font-size: 48px;
      font-weight: 400;
      text-transform: none;
    }
  }

  > .post-wrapper > .post-content {

    h3 {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      > span {
        text-transform: none;
      }
    }

    h4 {
      font-size: 15px;
      text-transform: uppercase;
    }

    p {
      margin: 10px 0;

      &:first-of-type {
        margin-top: 0;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: .2px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul{
      padding-left: 30px;
      li{
        position: relative;
        padding: 0 0 0 15px;
        color: $font-color-1;
        font-weight: 500;
        &:before{
          content: "";
          position: absolute;
          top: 12px;
          left: 0;
          width: 6px;
          height: 6px;
          margin: -4px 0 0;
          background: $water-blue;
          border-radius: 50%;
        }
      }
    }

    a {
      color: $font-color-2;
    }
  }
}
