.c-image {
  max-width: 100%;
  margin: 15px 0;
  > img {
    height: auto;
  }

  &.-full-width {
    max-width: initial;
    margin-left: -65px;
    margin-right: -45px;
    > img {
      width: 100%;
    }
  }
}
