.c-list {
  padding-left: 30px;
  line-height: 40px;

  > li{
    position: relative;
    padding: 0 0 0 15px;
    color: $font-color-1;
    font-weight: 500;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 6px;
      height: 6px;
      margin: -4px 0 0;
      background: $water-blue;
      border-radius: 50%;
    }
  }

  &.-alphabetic {
    counter-reset: letter;
    > li {
      padding-left: 20px;
      &:before {
        content: counter(letter, upper-latin);
        counter-increment: letter;
        top: 0;
        height: 0;
        margin: 0;
        color: $font-color-2 !important;
        font-weight: 700;
      }
    }
  }
}
