.c-pagination {
  display: flex;
  width: 100%;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
  > .prev, .next, .back-home {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: $font-color-2;
  }
  > .prev {
    margin-right: 20px;
    padding-left: 13px;
    &:before {
      @include arrow('left', 9px, 2px, $water-blue, -45deg);
      top: 50%;
      transform: rotate(-45deg) translate(0, calc(-50% - 2px));
    }
  }
  > .next {
    padding-right: 13px;
    &:after {
      @include arrow('right', 9px, 2px, $water-blue, 45deg);
      top: 50%;
      transform: rotate(45deg) translate(0, calc(-50% - 2px));
    }
  }

  &.-single-item {
    a {
      margin: 0;
    }
  }
}
