.c-pagination {
  display: flex;
  width: 185px;
  justify-content: space-between;
  align-items: center;
  > .prev, .next {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: $font-color-2;
  }
  > .prev {
    margin-right: 20px;
    padding-left: 13px;
    &:before {
      @include arrow('left', 9px, 2px, $water-blue, -45deg);
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }
  }
  > .next {
    padding-right: 13px;
    &:after {
      @include arrow('right', 9px, 2px, $water-blue, 45deg);
      top: 50%;
      transform: rotate(45deg) translate(0, -50%);
    }
  }

  .-single-item & {
    width: auto;
    justify-content: flex-end;
  }
}
