{% highlight css %}
h1 {
  font-family: 'Bariol';
  font-size: 40px;
  font-weight: 300;
  color: #555555;
  line-height: 21px;
}

h2 {
  font-family: 'Bariol';
  font-size: 28px;
  font-weight: 500;
  color: #555555;
  line-height: 22px;
}

h3 {
  font-family: 'Bariol';
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #555555;
}

h4 {
  font-family: 'Bariol';
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1477c9;
}

p {
  font-family: 'Bariol';
  font-size: 15px;
  line-height: 23px;
  letter-spacing: .3px;
}

strong {
  font-weight: 700;
}

{% endhighlight %}
